* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.mainIndex {
  background-image: url("../assets/img/bgindex.jpg");
  background-size: cover;
  width: 100%;
  height: 50vh; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #246bbd;
  width: 100%;
  padding: 20px 0px 20px; }
  header div a i {
    margin: 10px 20px;
    font-size: 20px;
    color: white; }
  header a {
    width: 25%; }
    header a img {
      width: 100%; }

main h1 {
  padding-top: 40px;
  text-align: center; }

main p {
  padding-top: 20px;
  text-align: center; }

main .busqueda {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  margin: 60px 20px 20px 20px; }

main h2 {
  text-align: center;
  margin: 40px; }

main .carta {
  margin: 10%;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 8px 5px lightgray; }
  main .carta a img {
    width: 100%;
    height: 30vh;
    object-fit: cover; }
  main .carta h3 {
    font-size: 16px;
    margin-top: 10px;
    text-align: left; }
  main .carta p {
    text-align: left; }
