header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bgcolor;
    width: 100%;
    padding: 20px 0px 20px;
 
 div{
    a{
        i{
            margin: 10px 20px;
            font-size: 20px;
            color: whitesmoke;
         }
    }
 }
 a{
   width: 25%;
    img {
        width: 100%;
    }
   }
}